* {
  box-sizing: border-box;
}
.cartpage-checkout {
}

.popup-order-confirmed {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: rgba(243, 240, 240, 0.95);
  z-index: 2;
  top: 40%;
  left: 50%;
  width: 40%;
  height: 40%;
  transform: translate(-50%, -50%);
  border: solid 1px rgb(31, 31, 31);
  box-shadow: 1px 1px 1px 1px rgb(75, 75, 75);
  border-radius: 8px;
  visibility: hidden;
}

.order-closebtn {
  border: 1px solid rgb(31, 29, 29);
  padding: 2px 4px;
  border-radius: 5px;
  margin-bottom: auto;
  position: absolute;
  left: 97%;
  border-radius: 5px;
}
.popup-order-confirmed > p {
  top: 35%;
  font-size: 30px;
  align-items: center;
  position: absolute;
  left: 25%;
}
.cartPreview {
  display: flex;
  justify-self: center;
  flex-direction: column;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  visibility: hidden;
  z-index: 5;
  /* top: 32%;
  left: 100%;
  width: 33%;
  height: 55%;
  transform: translate(-101%, -50%); */
  border: solid 1px black;
  box-shadow: 1px 1px 1px 1px black;
  overflow-y: scroll;
}