/*NAVBAR*/
body{
    margin: 0%;
}
.navbar a:hover {
    color: white;
}

.navbar-nav {
    color: white;
}

.nav-item {
    padding: 5px;
}

.nav-item-home {
    display: flex;
    justify-content: right;
}

.nav-item-home a {
    color: #FFFFFF8C;
}
/* Main Design */
