.products-container {
  display: grid;
  grid-template-areas: "title title title title title";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 2em;
  background-color: rgb(211, 15, 41);
  width: 100%;
  padding-bottom: 2em;
}

#products-header {
  grid-area: title;
  background-color: rgb(53, 46, 48);
  border: 3px solid black;
  padding: 1vh;
}
h3 {
  color: rgb(248, 243, 253);
}

.product-preview {
  outline: 3px solid rgb(53, 46, 48);
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  max-width: 220px;
  background-color: white;
  padding-top: 10%;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.7);
  justify-self: center;
  border-radius: 0.7em;
}
.product-preview:hover {
  background-color: rgb(243, 243, 243);
}

.product-image {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-image:hover {
  cursor: pointer;
}

.product-price {
  font-weight: bold;
}

.product-name {
  display: block;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.buy-button {
  margin-top: auto;
  border-radius: 0 0 0.5em 0.5em;
  width: 100%;
  border: none;
  border-top: 1px solid black;
}

.buy-button:hover {
  background-color: rgb(53, 46, 48);
  color: rgb(211, 15, 41);
}

@media only screen and (max-width: 1330px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "title title title title";
  }
}

@media only screen and (max-width: 1030px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title title title";
  }
}

@media only screen and (max-width: 725px) {
  .products-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title";
  }
}

@media only screen and (max-width: 520px) {
  .products-container {
    grid-template-columns: 1fr;
    grid-template-areas: "title";
  }
}
