.products-container {
  display: grid;
  grid-template-areas: "title title title title title";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 2em;
}

#products-header {
  grid-area: title;
  background-color: rgb(202, 4, 37);
  border: 1px solid black;
}

.product-preview {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  max-width: 220px;
}

.product-image {
  width: 200px;
  height: 200px;
}

.product-price {
}

.product-name {
  display: block;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.buy-button {
  margin-top: auto;
}
